.h1text{
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
  color: #dddfdc;
}

input {
  width: 100%;
}

.kg-row{
  margin: 10px 5px;
}

.kg-button{
  min-width: 80px;

}

.todo-border{
  border: 1px solid #dddfdc;
  border-radius: 25px;
  padding: 30px 10px 20px 10px;
  margin: 10px 90px;
}